## Q1

In [2]:
import pandas as pd
df = pd.DataFrame({
    "study_time" : [10, 15, 20, 25, 30] ,
    "exam_scores" : [70, 75, 85, 90, 95] 
})
df

   study_time  exam_scores
0          10           70
1          15           75
2          20           85
3          25           90
4          30           95

In [5]:
cov_matrix = df[["study_time","exam_scores"]].corr(method="pearson")
cov_matrix

             study_time  exam_scores
study_time     1.000000     0.991241
exam_scores    0.991241     1.000000

If the Pearson correlation coefficient is positive, it suggests that there is a positive linear relationship between study time and exam scores. In other words, as students spend more time studying, their exam scores tend to increase.

## Q2

In [7]:
df2 = pd.DataFrame({
    "sleep_hours" : [6, 7, 5, 8, 7],
    "job_satisfaction" : [4, 6, 3, 8, 7]
    
})
df2

   sleep_hours  job_satisfaction
0            6                 4
1            7                 6
2            5                 3
3            8                 8
4            7                 7

In [10]:
corr_spearman = df2[["sleep_hours","job_satisfaction"]].corr(method="spearman")
corr_spearman

                  sleep_hours  job_satisfaction
sleep_hours          1.000000          0.974679
job_satisfaction     0.974679          1.000000

If Spearman's rank correlation coefficient (œÅ) is positive , it suggests that there is a positive monotonic relationship between the amount of sleep and job satisfaction. In other words, as individuals get more sleep, their job satisfaction tends to be higher.In this case who has good sleep hours they are mostly satisfied with their jobs.

## Q3

In [12]:
df3 = pd.DataFrame({
    "exercise_hours" : [3, 5, 2, 4, 6, 1, 7, 2, 5, 3, 4, 2, 6, 1, 5, 3, 4, 2, 6, 1, 7, 3, 4, 5, 2, 6, 1, 4, 3, 5,
                 2, 6, 1, 7, 2, 5, 3, 4, 2, 6, 1, 3, 4, 5, 2, 6, 1, 7],
    
    "bmi" : [25, 26, 28, 24, 27, 29, 23, 30, 26, 25, 24, 28, 22, 29, 26, 25, 27, 30, 28, 29, 23, 25, 26, 24, 27, 22, 30,
       29, 28, 25, 26, 27, 22, 23, 24, 25, 26, 29, 30, 28, 27, 26, 25, 22, 23, 24, 30, 29]
})
df3.head()

   exercise_hours  bmi
0               3   25
1               5   26
2               2   28
3               4   24
4               6   27

In [14]:
corr_pearson_matrix = df3[["exercise_hours","bmi"]].corr(method="pearson")
corr_pearson_matrix

                exercise_hours       bmi
exercise_hours        1.000000 -0.431246
bmi                  -0.431246  1.000000

In [15]:
corr_spearman_matrix = df3[["exercise_hours","bmi"]].corr(method="spearman")
corr_spearman_matrix

                exercise_hours      bmi
exercise_hours         1.00000 -0.43293
bmi                   -0.43293  1.00000

1. The Pearson correlation coefficient assesses the strength and direction of the linear relationship between exercise hours and BMI. It provides a measure of the linear association between the variables.
2. The Spearman's rank correlation coefficient assesses the strength and direction of the monotonic (non-linear) relationship between exercise hours and BMI. It does not assume linearity and is based on the ranks of the data.

## Q4

In [16]:
df4 = pd.DataFrame({
    "Tv Hours" : [2, 3, 4, 1, 2, 3, 4, 1, 5, 2, 3, 4, 1, 2, 3, 4, 1, 5, 2, 3, 4, 1, 2, 3, 4, 1, 5, 2, 3, 4, 1, 2, 3, 4, 1, 5, 2, 3, 4, 1, 2, 3, 4, 1, 5],
    "physical_activity" : [30, 25, 20, 35, 30, 25, 20, 35, 15, 30, 25, 20, 35, 30, 25, 20, 35, 15, 30, 25, 20, 35, 30, 25, 20, 35, 15, 30, 25, 20, 35, 30, 25, 20, 35, 15, 30, 25, 20, 35, 30, 25, 20, 35, 15]
})
df4.head()

   Tv Hours  physical_activity
0         2                 30
1         3                 25
2         4                 20
3         1                 35
4         2                 30

In [17]:
corr_pearson_matrix = df4[["Tv Hours","physical_activity"]].corr(method="pearson")
corr_pearson_matrix

                   Tv Hours  physical_activity
Tv Hours                1.0               -1.0
physical_activity      -1.0                1.0

## Q5

In [18]:
import pandas as pd
import scipy.stats

data = {
    'Age': [25, 42, 37, 19, 31, 28],
    'Preference': ['Coke', 'Pepsi', 'Mountain Dew', 'Coke', 'Pepsi', 'Coke']
}

df = pd.DataFrame(data)

pearson_corr, _ = scipy.stats.pearsonr(df['Age'], df['Preference'].apply(lambda x: len(x)))

print(f"Pearson correlation coefficient: {pearson_corr:.2f}")

Pearson correlation coefficient: 0.50

## Q6

In [22]:
data = {
    "sales_calls_per_day" : [10, 12, 8, 15, 9, 11, 7, 14, 13, 10, 12, 8, 15, 9, 11, 7, 14, 13, 10, 12, 8, 15, 9, 11, 7, 14, 13, 10, 12, 8],
    "sales_per_week" : [20, 25, 18, 30, 22, 24, 17, 28, 27, 21, 23, 19, 31, 20, 25, 18, 30, 22, 24, 17, 28, 27, 21, 23, 19, 31, 20, 25, 18, 30]
}
df6 = pd.DataFrame(data)
df6.head()

   sales_calls_per_day  sales_per_week
0                   10              20
1                   12              25
2                    8              18
3                   15              30
4                    9              22

In [25]:
corr_pearson_matrix = df6[["sales_calls_per_day","sales_per_week"]].corr(method="pearson")
corr_pearson_matrix

                     sales_calls_per_day  sales_per_week
sales_calls_per_day             1.000000        0.580539
sales_per_week                  0.580539        1.000000

1. If r is positive, it suggests a positive linear relationship, meaning that as the number of sales calls made per day increases, the number of sales made per week tends to increase.
2. If r is negative, it suggests a negative linear relationship, meaning that as the number of sales calls made per day increases, the number of sales made per week tends to decrease.